* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
  display: block;
  background: #fff;
  font-family: 'Inter', sans-serif;
}

/* .header-container {
  max-width: 100% !important;
} */

.header-top {
  max-width: 100% !important;
  margin: 24px 0;
  display: flex;
  padding: 0 35px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 327px;
  left: 0;
  top: 44px;
  border-radius: 0;
}

.header-logo {
  width: 90px;
  height: 28px;
  color: #28352f;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.header-logo {
  max-width: 100%;
}

.hamburger {
  max-width: 100%;
  border: none;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 16px 24px;
  color: black;
  border-radius: 3px;
}

.header-nav-desktop {
  display: none;
}

.headline {
  width: 327px;
  height: 726px;
  background: #fff url(../images/header-illsutration-mobile.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: relative;
  left: 0;
  top: 92px;
}

.header-title {
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.h-span {
  width: 100%;
  text-align: center;
  color: #237855;
  overflow-x: hidden;
}

.heder-info {
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  width: 327px;
  height: 164px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-link {
  width: 100%;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 auto;
}

.medias {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0 102x;
  max-width: fit-content;
}

li {
  margin: 0 8px;
}

a {
  text-decoration: none;
}

.head-btn {
  width: 100%;
  width: 320px;
  margin: 0 auto;
}

.btn {
  padding: 8px;
  margin-left: -100px;
  position: absolute;
  bottom: 100px;
  background: #fff;
  border: 0;
  border-radius: 32px;
  justify-content: center;
}

.img-btn {
  max-width: 100%;
}

.work-card {
  width: 327px;
  max-width: 100%;
}

.myrecentwork {
  width: 327px;
  height: 97px;
  padding: 22px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  position: relative;
  display: grid;
  align-items: center;
  text-align: center;
}

.ind {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 24px 160px;
}

.work-container {
  width: 327px;
  height: 474px;
  display: flex;
  flex-direction: column;
  margin: 62px 22px 24px 26px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.img-placer img {
  width: 100%;
  height: 250px;
}

img {
  max-width: 100%;
}

.txt-info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  height: 187px;
  left: calc(50% - 327px / 2);
  position: relative;
  bottom: 0;
  background: #fff;
  border-radius: 8px;
}

.work-title {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.languages {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.social-link a {
  width: 375px;
  height: 189px;
  margin-top: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
}

.languages li a {
  width: 100%;
  width: max-content;
  background: #ebf0ee;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 8px;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.languages a:hover {
  opacity: 0.8;
  background-color: #091e42;
  color: white;
}

.see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 29px 0 0 0;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 122px;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  border: 0;
  background: #36b37f;
  border-radius: 4px;
}

.txt-info button:active {
  opacity: 0.8;
  color: #60c095;
}

.project-title {
  width: 98px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
}

.abt {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 327px;
  margin-top: 2em;
  background: #fff url(../images/illustration\ 1-\ about\ me-mobile.png) no-repeat 100% 0%, url(../images/illustration\ 2-about\ me\ mobile.png) no-repeat 0 300px;
  background-size: 100%;
  text-align: center;
  padding: 2em;
}

.abt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.abtme {
  width: 100%;
  width: 327px;
  height: 48px;
  margin: 68px 12px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.abt-info {
  margin: 24px 12px;
  width: 327px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 1;
}

.abt-btn {
  display: grid;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 20px 100px;
}

.abt-btn:hover {
  background-color: blue;
}

.abt-wrapper {
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 0 0;
  margin: 59px 24px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.circle-img {
  left: calc(50% - 80px / 2 + 0.5px);
  top: calc(50% - 80px / 2);
}

.abts-head {
  width: 327px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.works-details {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  list-style: none;
  padding: 25px 0;
}

.works-details li {
  width: max-content;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.footer-container {
  width: 327px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url(../images/illustration-contact-form.png) no-repeat 100% 90%;
  padding: 2em 5em;
}

.footer-title h2 {
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.full-name {
  display: none;
}

.fulname,
.email {
  width: 100%;
  height: 48px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  margin: 24px;
  bottom: 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
}

.txt2 {
  display: none;
}

.footer-form .txt1,
.txt2 {
  width: 100%;
  height: 114px;
  margin: 24px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

@media (min-width: 768px) {
  .header-container {
    background: url(../images/Header-llustration-desktop.png) no-repeat;
    background-size: 100%;
    overflow: hidden;
    max-width: 100%;
    height: 1434.3px;
    left: 27px;
    top: -398px;
  }

  .header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .header-logo,
  .hamburger {
    display: none;
  }

  .header-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .header-nav-desktop a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #42526e;
    margin: 16px;
  }

  .header-nav-desktop a:hover {
    opacity: 0.8;
    background-color: #639e81;
    color: #fff;
    padding: 14px;
  }

  .headline {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
    position: absolute;
    width: 920px;
    height: 756px;
    left: 260px;
    top: 72px;
  }

  .header-title {
    width: 100%;
    width: 920px;
    height: 114px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
  }

  .heder-info {
    width: 760px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172b4d;
  }

  .social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 200px;
    height: 40px;
  }

  .social-link a:hover {
    background-color: #36b37e;
    padding: 6px;
    opacity: 0.7;
  }

  .head-btn {
    width: 920px;
    align-items: center;
    margin: 34px 120px 40px;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 37.5%;
    bottom: 37.5%;
  }

  .head-btn button:active {
    background-color: #344563;
    opacity: 0.9;
  }

  .work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1244px;
    left: 135px;
    top: 0;
    margin-top: 0%;
  }

  .myrecentwork {
    margin-top: 0;
    width: 447px;
    height: 48px;
    color: #172b4d;
    justify-content: center;
  }

  .ind {
    display: none;
  }

  .work-container-card {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    align-items: center;
    padding: 50px 2px;
    gap: -10px;
    position: absolute;
    left: 135px;
  }
  .see-project:hover{
    background-color: #6b778c;
    opacity: 0.7;
  }

  .abt {
    background: url(../images/illustration\ about\ me\ desktop.png) no-repeat 100% 0%, url(../images/illustration-about-me-2-desktop.png) no-repeat 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 48px;
    width: 100%;
    height: 808px;
    left: 135px;
    top: 2331px;
  }

  .abt-container {
    width: 920px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }

  .abtme {
    margin: 0px 24px;
    color: #172b4d;
    width: 100%;
    height: 48px;
    justify-content: center;
  }

  .abt-info {
    width: 720px;
    height: 96px;
    color: #42526e;
    justify-content: center;
  }

  .abt-btn {
    width: 159px;
    height: 48px;
    justify-content: center;
  }

  .abt-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-container {
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
    width: 100%;
    height: 490px;
    left: 135px;
    top: 3139px;
  }

  .footer-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 0;
    gap: 24px;
  }

  .footer-title {
    width: 463px;
    height: 256px;
    font-size: 30px;
    line-height: 52px;
    text-align: justify;
    color: #172b4d;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 4px;
    width: 684px;
    height: 330px;
  }

  /* .fulname {
    display: none;
  } */

  /* .full-name {
    display: flex;
    padding: 10px;
    gap: 24px;
  } */

  /* .frstn, */
  /* .lstn, */
  /* .email { */
    /* width: 100%; */
    /* height: 28px; */
    /* box-sizing: border-box; */
    /* margin: 5px; */
    /* padding: 15px; */
    /* background: #fff; */
    /* border: 1px solid #d0d9d4; */
    /* border-radius: 4px; */
    /* font-family: 'Inter', sans-serif; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-size: 15px; */
    /* line-height: 24px; */
    /* align-items: center; */
    /* color: #6b778c; */
  /* } */

  .txt1 {
    display: none;
  }

  .txt2 {
    display: block;
  }
  .txt2 {
    width: 100%;
    height: 114px;
    margin: 24px;
    padding: 0px 20px 80px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #60c095;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
  }

  .social-link {
    margin-top: 80px;
  }

  .emai-address {
    display: none;
  }
}
